body {
  font-family:  "Segoe UI", Tahoma, sans-serif;            /*Arial, sans-serif;*/
  background-color: #411acf;                             /* blue color on branch html_css_new */
  color: #333;
}

h1 {
  color: #2c3e50;
}

p {
  font-size: 16px;
}